!*.exe
!*.bat
!*.dll
/VsProject/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/VsProject/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/VsProject/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/VsProject/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/VsProject/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/VsProject/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Test/CSVGenCode_Cpp/CSVGenCode_Cpp.VC.db
/Test/CSVGenCode_Cpp/CSVGenCode_Cpp/Debug/CSVGenCode_Cpp.tlog/CL.command.1.tlog
/Test/CSVGenCode_Cpp/CSVGenCode_Cpp/Debug/CSVGenCode_Cpp.tlog/CL.read.1.tlog
/Test/CSVGenCode_Cpp/CSVGenCode_Cpp/Debug/CSVGenCode_Cpp.tlog/CL.write.1.tlog
/Test/CSVGenCode_Cpp/CSVGenCode_Cpp/Debug/CSVGenCode_Cpp.tlog/CSVGenCode_Cpp.lastbuildstate
/Test/CSVGenCode_Cpp/CSVGenCode_Cpp/Debug/CSVGenCode_Cpp.tlog/link.command.1.tlog
/Test/CSVGenCode_Cpp/CSVGenCode_Cpp/Debug/CSVGenCode_Cpp.tlog/link.read.1.tlog
/Test/CSVGenCode_Cpp/CSVGenCode_Cpp/Debug/CSVGenCode_Cpp.tlog/link.write.1.tlog
/Test/CSVGenCode_Cpp/CSVGenCode_Cpp/Debug/vc140.idb
/Input/SJScene.csv
/OutCSV/SJScene.csv
/PXLS/SJScene+104.xls
/PXLS/SJScene.xls
/Test/CSVGenCode_Cpp/CSVGenCode_Cpp.VC.VC.opendb
/VsProject/VsProject/obj/Debug/CSVGenCode.csproj.FileListAbsolute.txt
/VsProject/VsProject/obj/Debug/CSVGenCode.exe
/VsProject/VsProject/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/VsProject/VsProject/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/VsProject/VsProject/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Bin/config0.txt
/Bin/config1.txt
/Bin/num.txt
/Test/CSVGenCode_CS/CSVGenCode_CS/bin/Debug/CSVGenCode_CS.exe.config
/Test/CSVGenCode_CS/CSVGenCode_CS/bin/Debug/CSVGenCode_CS.vshost.exe
/Test/CSVGenCode_CS/CSVGenCode_CS/bin/Debug/CSVGenCode_CS.vshost.exe.config
/Test/CSVGenCode_CS/CSVGenCode_CS/obj/Debug/CSVGenCode_CS.csproj.FileListAbsolute.txt
/Test/CSVGenCode_CS/CSVGenCode_CS/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Test/CSVGenCode_CS/CSVGenCode_CS/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Test/CSVGenCode_CS/CSVGenCode_CS/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
